html, body{
    margin: 0;
}
.logo {
	background-color: cornflowerblue ;
	color: white;
	font-family: 'Open Sans', arial, sans-serif;
	width: auto;
    height: auto;
    text-align: center;
    text-transform: uppercase;
	font-size: 85px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: darkslategray;
    animation: header_pulse 1s 1;
}

@keyframes header_pulse {
  0% {
    background-color: black;
  }
  100% {
    background-color: cornflowerblue;
  }
}
@keyframes nav_pulse {
    0% {
    background-color: black;
  }
    50% {
    background-color: cornflowerblue;
  }
    100% {
    background-color: aliceblue;
  }
}

body {
	font-family: 'Raleway', sans-serif;
}

nav {
    line-height: 61px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
	word-spacing: 30px;
    letter-spacing: 3px;
	color: darkslategray;
    text-align: center;
    background-color: aliceblue;
    animation: nav_pulse 2s 1;
}

section h3, article{
    font-size: 15px;
    margin-left: 75px;
    width: 90%;
}

section img{
    margin: 25px;
    border-radius: 5px;
    margin-left: 25%;
}

video.displej{
    float: left;
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 50px;
    border: solid;
    border-color: aqua;
    padding: 20px;
}

.intext{
    margin: 50px;
    border-radius: 5px;
}
.displej_text{
    font-size: 24px;
    margin-left: 75px;
    width: 90%;
}
main p{
    margin: 30px;
}

.portrait{
    margin: 50px;
    margin-left: 24%;
    border-radius: 5px;
}
/*Z_Tieto styly upravuju horizontalne menu*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

nav li {
    float: left;
}

nav li a {
    /*display: block;*/
    color: dimgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: dimgray;
    text-decoration: none;
    color: white;
}
/*K_Tieto styly upravuju horizontalne menu*/

.fotoaparat_text{
    font-size: 24px;
    margin-left: 75px;
    width: 90%;
    float: left;
}

article.gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Z_Tieto styly upravuju vzhlad galerie pre portrait*/
div.img_portrait {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    margin-bottom: 50px;
}

div.img_portrait:hover {
    border: 1px solid #777;
}

div.img_portrait img {
    width: 100%;
    height: auto;
}
/*K_Tieto styly upravuju vzhlad galerie pre portrait*/

/*Z_Tieto styly upravuju vzhlad galerie pre wideshot*/
div.img_wideshot {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    margin-bottom: 50px;
}

div.img_wideshot:hover {
    border: 1px solid #777;
}

div.img_wideshot img {
    width: 100%;
    height: auto;
}
/*K_Tieto styly upravuju vzhlad galerie pre wideshot*/

video.fotoaparat_test{
    padding: 20px;
    border: solid;
    border-color: aqua;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
article.gallery p{
    text-align: center;
    font-size: 20px;
}

.hw_text{
    font-size: 24px;
    margin-left: 75px;
    width: 90%;
    float: left;
}

.sw_text{
    font-size: 24px;
    margin-left: 75px;
    width: 90%;
    float: left;
}

.bench{
    margin: 50px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gif{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.audio{
    margin-bottom: 50px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px dimgray;
}

.ringtone{
    font-size: 24px;
    margin-left: 75px;
    width: 90%;
    text-align: center;
    float: left;
}

.socials{
    float: left;
    width: auto;
    width: 50%;
    margin: 50px;
    text-align: center;
}

.email{
    float: left;
    width: auto;
    margin: 50px;
    text-align: center;
}

.ext_link{
    display: block;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

.ext_link:hover {
    text-decoration: none;
}

.intext_link{
    /*display: block;*/
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

.intext_link:hover {
    text-decoration: none;
}
/*Z_Toto upravuje benchamrk tabulku*/
table {
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: solid 3px dimgray;
    
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/*K_Toto upravuje benchamrk tabulku*/

table caption{
    font-family: 'Raleway', sans-serif;
}

.active{
    background-color:darkslategray;
    text-decoration: none;
    color: white;
}